*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', sans-serif;
}
body{
    background-image: url('andreas-kretschmer--ahOKp3g4-I-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-app{
    position: relative ;
    width:400px;
    height: 440px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(189, 191, 192, 0.548);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: 0.4s ease;
}
.search-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    position: relative;
}
input[type="search"]{
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgba(189, 191, 192, 0.548);
    padding: 0px 40px 0px 10px;

}
input[type="search"] + span{
    position: absolute;
    right: 80px;
    cursor: pointer;
    border-radius: 50px;
    background-color: bisque;
    padding: 3px;
}
.notes-div{
    width: 100%;
    overflow: auto;
}
.notes-and-checkbox{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(189, 191, 192, 0.548);
    padding: 20px 40px;
}
.notes-and-checkbox p{
    font-size: 1rem;
    color:white;
}
.input-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.text-input-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 10px;
}
